<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>FlowLife AI</title>
</head>
<body>
    <h1>FlowLife AI</h1>
    <h2>AIと、より良い毎日へ。</h2>
    <p>
        FlowLife AIへようこそ!
    </p>
    <form action="/submit" method="post">
        <label for="goal">今日の目標</label>
        <br><br>

        <input 
            type="text"
            id ="goal"
            name = "goal"
            placeholder="今日の目標を入力してください"
        >
        <br><br>

        <button type="submit">登録する</button>
    </form>
</body>

</html>